openapi: 3.1.0
info:
  title: Rocalytics API
  version: 1.0.1

servers:
  - url: https://rocalytics-api.rocapine.io
    description: Production

paths:
  /functions/v1/identify:
    post:
      summary: Identify a user
      parameters:
        - name: X-Roca-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Application-ID
          in: header
          required: true
          schema:
            type: string
            example: com.example.app
        - name: X-Platform
          in: header
          required: true
          schema:
            type: string
            example: ios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifyPayload'
      responses:
        '200':
          description: Identity upserted
          content:
            application/json:
              schema:
                type: object
                properties:
                  roca_id:
                    type: string
                    format: uuid
        '400':
          description: Missing required headers or invalid JSON
        '405':
          description: Method not allowed
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /functions/v1/status:
    get:
      summary: Check event ingestion status for an application
      description: >
        Returns the list of received event types for the given application, with
        the total count and the timestamp of the most recently received event.
        Use this after setup to confirm that `install`, `onboarding_completed`,
        and `purchase` events are being ingested.
      parameters:
        - name: app
          in: query
          required: true
          description: The application bundle ID (e.g. com.example.app)
          schema:
            type: string
            example: com.example.app
      responses:
        '200':
          description: Event ingestion summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
              example:
                application_id: com.rocapine.harmony
                events:
                  - name: install
                    count: 491
                    latest_received_at: "2026-06-09T15:01:09.181963+00:00"
                  - name: onboarding_completed
                    count: 317
                    latest_received_at: "2026-06-09T15:03:32.445206+00:00"
                  - name: purchase
                    count: 69
                    latest_received_at: "2026-06-09T15:00:21.570293+00:00"
                  - name: trial_qualified
                    count: 52
                    latest_received_at: "2026-06-09T15:01:00.042557+00:00"
                  - name: trial_cancelled
                    count: 71
                    latest_received_at: "2026-06-09T14:23:54.801664+00:00"
        '400':
          description: Missing or invalid `app` query parameter

  /functions/v1/track:
    post:
      summary: Track an event
      parameters:
        - name: X-Roca-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Application-ID
          in: header
          required: true
          schema:
            type: string
            example: com.example.app
        - name: X-Platform
          in: header
          required: true
          schema:
            type: string
            example: ios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackPayload'
      responses:
        '204':
          description: Event recorded
        '400':
          description: Validation error (missing fields, invalid event name, or wrong deduplication_id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    IdentifyPayload:
      type: object
      properties:
        revenue_cat_id:
          type: string
        qonversion_id:
          type: string
        adjust_id:
          type: string
        user_id:
          type: string
        amplitude_device_id:
          type: string
        idfa:
          type: string
        idfv:
          type: string
        android_id:
          type: string
        aaid:
          type: string
        customerio_id:
          type: string
        segment_id:
          type: string
        adjust_attribution:
          type: object
          additionalProperties: true
          description: Raw Adjust attribution payload for the user.
          example:
            adgroup: "SampleApp_AND_US_BAU_video (10000000000001)"
            network: "Off-Facebook Installs"
            campaign: "SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101 (10000000000002)"
            costType: ""
            creative: "SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4 (10000000000003)"
            clickLabel: ""
            costAmount: 0
            trackerName: "Off-Facebook Installs::SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101 (10000000000002)::SampleApp_AND_US_BAU_video (10000000000001)::SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4 (10000000000003)"
            costCurrency: ""
            jsonResponse: "{\"tracker_token\":\"abc12345\",\"tracker_name\":\"Off-Facebook Installs::SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101 (10000000000002)::SampleApp_AND_US_BAU_video (10000000000001)::SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4 (10000000000003)\",\"network\":\"Off-Facebook Installs\",\"campaign\":\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101 (10000000000002)\",\"adgroup\":\"SampleApp_AND_US_BAU_video (10000000000001)\",\"creative\":\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4 (10000000000003)\",\"fb_install_referrer\":{\"fb_auditing_token\":\"00000000000000000000000000000000\",\"fb_install_referrer\":\"{\\\"ad_id\\\":10000000000004,\\\"ad_objective_name\\\":\\\"APP_INSTALLS\\\",\\\"adgroup_id\\\":10000000000003,\\\"adgroup_name\\\":\\\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4\\\",\\\"campaign_id\\\":10000000000001,\\\"campaign_name\\\":\\\"SampleApp_AND_US_BAU_video\\\",\\\"campaign_group_id\\\":10000000000002,\\\"campaign_group_name\\\":\\\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101\\\",\\\"account_id\\\":100000000000000,\\\"is_instagram\\\":false,\\\"is_an\\\":true,\\\"publisher_platform\\\":\\\"audience_network\\\",\\\"platform_position\\\":null}\",\"fb_install_referrer_account_id\":\"100000000000000\",\"fb_install_referrer_ad_id\":\"10000000000004\",\"fb_install_referrer_ad_objective_name\":\"APP_INSTALLS\",\"fb_install_referrer_adgroup_id\":\"10000000000003\",\"fb_install_referrer_adgroup_name\":\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4\",\"fb_install_referrer_campaign_group_id\":\"10000000000002\",\"fb_install_referrer_campaign_group_name\":\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101\",\"fb_install_referrer_campaign_id\":\"10000000000001\",\"fb_install_referrer_campaign_name\":\"SampleApp_AND_US_BAU_video\",\"fb_install_referrer_publisher_platform\":\"audience_network\"},\"engagement_time\":\"2026-01-01T12:00:00Z\",\"installed_at\":\"2026-01-01T12:05:00Z\",\"first_session_time\":\"2026-01-01T12:05:00Z\",\"is_reattributed\":false,\"is_redownload_install\":true}"
            trackerToken: "abc12345"
            fbInstallReferrer: "{\"fb_auditing_token\":\"00000000000000000000000000000000\",\"fb_install_referrer\":\"{\\\"ad_id\\\":10000000000004,\\\"ad_objective_name\\\":\\\"APP_INSTALLS\\\",\\\"adgroup_id\\\":10000000000003,\\\"adgroup_name\\\":\\\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4\\\",\\\"campaign_id\\\":10000000000001,\\\"campaign_name\\\":\\\"SampleApp_AND_US_BAU_video\\\",\\\"campaign_group_id\\\":10000000000002,\\\"campaign_group_name\\\":\\\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101\\\",\\\"account_id\\\":100000000000000,\\\"is_instagram\\\":false,\\\"is_an\\\":true,\\\"publisher_platform\\\":\\\"audience_network\\\",\\\"platform_position\\\":null}\",\"fb_install_referrer_account_id\":\"100000000000000\",\"fb_install_referrer_ad_id\":\"10000000000004\",\"fb_install_referrer_ad_objective_name\":\"APP_INSTALLS\",\"fb_install_referrer_adgroup_id\":\"10000000000003\",\"fb_install_referrer_adgroup_name\":\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4\",\"fb_install_referrer_campaign_group_id\":\"10000000000002\",\"fb_install_referrer_campaign_group_name\":\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101\",\"fb_install_referrer_campaign_id\":\"10000000000001\",\"fb_install_referrer_campaign_name\":\"SampleApp_AND_US_BAU_video\",\"fb_install_referrer_publisher_platform\":\"audience_network\"}"

    CustomEventPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - custom_event
          properties:
            name:
              type: string
              description: Any custom event name the CRM automation triggers on.
              example: cart_abandoned
            custom_event:
              type: boolean
              enum: [true]
              description: >-
                Marks a custom event. When true, the VALID_EVENTS gate and property
                validation are skipped, no analytics row is written, and the event is
                forwarded to the CRM to drive automations.
            properties:
              type: object
              additionalProperties: true
              description: Free-form; available to the CRM automation as template vars / condition operands.

    # No `discriminator` here: CustomEventPayload has an arbitrary `name`, which a name-keyed
    # discriminator can't route (and custom events discriminate on `custom_event`, not `name`).
    # Plain oneOf validation is correct — a custom event matches only CustomEventPayload.
    TrackPayload:
      oneOf:
        - $ref: '#/components/schemas/InstallPayload'
        - $ref: '#/components/schemas/PaywallPresentedPayload'
        - $ref: '#/components/schemas/PurchasePayload'
        - $ref: '#/components/schemas/TrialStartedPayload'
        - $ref: '#/components/schemas/SubscriptionStartedPayload'
        - $ref: '#/components/schemas/CustomEventPayload'

    TrackPayloadBase:
      type: object
      required:
        - name
        - deduplication_id
      properties:
        deduplication_id:
          type: string
          description: Must be formatted as `{X-Roca-ID}-{name}`
          example: 550e8400-e29b-41d4-a716-446655440000-install
        timestamp:
          type: string
          format: date-time
        device_context:
          type: object
          additionalProperties: true

    InstallPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - properties
          properties:
            name:
              type: string
              enum: [install]
            properties:
              type: object
              required:
                - install_time
              properties:
                install_time:
                  type: string
                  format: date-time

    PaywallPresentedPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
          properties:
            name:
              type: string
              enum: [paywall_presented]
            properties:
              type: object
              additionalProperties: true

    PurchasePayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - properties
          properties:
            name:
              type: string
              enum: [purchase]
            properties:
              type: object
              required:
                - original_transaction_identifier
                - price
                - currency_code
                - is_trial
              properties:
                original_transaction_identifier:
                  type: string
                  description: Apple original transaction identifier (links renewals to the first purchase)
                  example: "2000000841136630"
                price:
                  type: number
                  format: double
                  description: Actual charged price (0.0 for a free trial)
                  example: 9.99
                currency_code:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: ISO 4217 3-letter currency code
                  example: eur
                is_trial:
                  type: boolean
                  description: Whether this purchase is a free trial

    SubscriptionPropertiesBase:
      type: object
      required:
        - product_id
        - price
        - currency
        - period
      properties:
        product_id:
          type: string
          description: Store product identifier
          example: Harmony_subscription_1_year_7d
        transaction_id:
          type: string
          description: Apple originalTransactionIdentifier. Required on iOS if purchase_token is absent.
          example: "2000000841136630"
        purchase_token:
          type: string
          description: Android purchase token. Required on Android if transaction_id is absent.
        price:
          type: number
          format: double
          description: Actual charged price (0.0 for a free trial)
          example: 44.99
        currency:
          type: string
          description: ISO 4217 currency code
          example: EUR
        period:
          type: string
          enum: [day, week, month, year]
          description: Subscription billing period
          example: year

    TrialStartedPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - properties
          properties:
            name:
              type: string
              enum: [trial_started]
            properties:
              allOf:
                - $ref: '#/components/schemas/SubscriptionPropertiesBase'
                - type: object
                  required:
                    - trial_period_days
                  properties:
                    trial_period_days:
                      type: integer
                      description: Length of the free trial in days
                      example: 7
                    trial_end_date:
                      type: string
                      format: date-time
                      description: ISO 8601 UTC date when the trial expires
                      example: "2026-04-28T17:14:47.000Z"

    SubscriptionStartedPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - properties
          properties:
            name:
              type: string
              enum: [subscription_started]
            properties:
              $ref: '#/components/schemas/SubscriptionPropertiesBase'

    StatusResponse:
      type: object
      properties:
        application_id:
          type: string
          example: com.example.app
        events:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: install
              count:
                type: integer
                example: 491
              latest_received_at:
                type: string
                format: date-time
                example: "2026-06-09T15:01:09.181963+00:00"

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
