openapi: 3.1.0
info:
  title: Rocalytics API
  version: 1.0.1

servers:
  - url: https://rocalytics-api.rocapine.io
    description: Production

paths:
  /functions/v1/identify:
    post:
      summary: Identify a user
      parameters:
        - name: X-Roca-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Application-ID
          in: header
          required: true
          schema:
            type: string
            example: com.example.app
        - name: X-Platform
          in: header
          required: true
          schema:
            type: string
            example: ios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifyPayload'
      responses:
        '200':
          description: Identity upserted
          content:
            application/json:
              schema:
                type: object
                properties:
                  roca_id:
                    type: string
                    format: uuid
        '400':
          description: Missing required headers or invalid JSON
        '405':
          description: Method not allowed
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /functions/v1/status:
    get:
      summary: Check event ingestion status for an application
      description: >
        Returns the latest-received timestamp per event type for the given
        application (overall and split by platform), plus data-quality
        summaries: identity field fill rates, purchase event formatting, and
        Adjust fbclid extraction rate. Use this after setup to confirm that
        `install`, `onboarding_completed`, and `purchase` events are being
        ingested. Set `accept: text/html` to render this as an HTML dashboard
        instead of JSON.
      parameters:
        - name: app
          in: query
          required: true
          description: The application bundle ID (e.g. com.example.app)
          schema:
            type: string
            example: com.example.app
        - name: platform
          in: query
          required: false
          description: Restrict the report to a single platform. Omit for both.
          schema:
            type: string
            enum: [ios, android]
      responses:
        '200':
          description: Event ingestion and data-quality summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
              example:
                application_id: com.rocapine.harmony
                events:
                  - name: install
                    latest_received_at: "2026-06-09T15:03:32.445206+00:00"
                    latest_received_at_android: "2026-06-09T15:03:32.445206+00:00"
                    latest_received_at_ios: "2026-06-09T14:58:11.001200+00:00"
                  - name: purchase
                    latest_received_at: "2026-06-09T15:00:21.570293+00:00"
                    latest_received_at_android: null
                    latest_received_at_ios: "2026-06-09T15:00:21.570293+00:00"
                identity_field_fill_percentage:
                  ios:
                    - field: user_id
                      percentage: 98.4
                    - field: idfa
                      percentage: 41.2
                  android:
                    - field: user_id
                      percentage: 97.9
                    - field: aaid
                      percentage: 55.6
                purchase_well_formatted_percentage:
                  ios: 100
                  android: 96.7
                fbclid_extraction_percentage:
                  ios: 62.3
                  android: null
        '400':
          description: Missing or invalid `app` query parameter

  /functions/v1/track:
    post:
      summary: Track an event
      parameters:
        - name: X-Roca-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Application-ID
          in: header
          required: true
          schema:
            type: string
            example: com.example.app
        - name: X-Platform
          in: header
          required: true
          schema:
            type: string
            example: ios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackPayload'
      responses:
        '204':
          description: Event recorded
        '400':
          description: Validation error (missing fields, invalid event name, or wrong deduplication_id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /functions/v1/superwall-events:
    post:
      summary: Track a raw Superwall event
      description: >
        Stores the Superwall SDK's `superwallEventInfo` payload verbatim
        (no schema validation or transformation) into the `superwall_events`
        table, keyed by X-Roca-ID / X-Application-ID / X-Platform. Use this
        as a raw log of every Superwall event alongside the normalized
        `track` events (paywall_presented, trial_started, etc.).
      parameters:
        - name: X-Roca-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Application-ID
          in: header
          required: true
          schema:
            type: string
            example: com.example.app
        - name: X-Platform
          in: header
          required: true
          schema:
            type: string
            example: ios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuperwallEventPayload'
            example:
              superwallEventInfo:
                event:
                  name: paywall_open
                  createdAt: "2026-06-09T15:01:09.181963+00:00"
                params:
                  paywall_id: "pw_123"
                  product_id: com.example.app.yearly
      responses:
        '204':
          description: Event recorded
        '400':
          description: Missing required headers, invalid JSON, or missing superwallEventInfo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    IdentifyPayload:
      type: object
      properties:
        revenue_cat_id:
          type: string
        qonversion_id:
          type: string
        adjust_id:
          type: string
        user_id:
          type: string
        amplitude_device_id:
          type: string
        idfa:
          type: string
        idfv:
          type: string
        android_id:
          type: string
        aaid:
          type: string
        customerio_id:
          type: string
        segment_id:
          type: string
        locale:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        phone_number:
          type: string
        fb_login_id:
          type: string
        city:
          type: string
        country:
          type: string
        adjust_attribution:
          type: object
          additionalProperties: true
          description: Raw Adjust attribution payload for the user.
          example:
            adgroup: "SampleApp_AND_US_BAU_video (10000000000001)"
            network: "Off-Facebook Installs"
            campaign: "SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101 (10000000000002)"
            costType: ""
            creative: "SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4 (10000000000003)"
            clickLabel: ""
            costAmount: 0
            trackerName: "Off-Facebook Installs::SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101 (10000000000002)::SampleApp_AND_US_BAU_video (10000000000001)::SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4 (10000000000003)"
            costCurrency: ""
            jsonResponse: "{\"tracker_token\":\"abc12345\",\"tracker_name\":\"Off-Facebook Installs::SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101 (10000000000002)::SampleApp_AND_US_BAU_video (10000000000001)::SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4 (10000000000003)\",\"network\":\"Off-Facebook Installs\",\"campaign\":\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101 (10000000000002)\",\"adgroup\":\"SampleApp_AND_US_BAU_video (10000000000001)\",\"creative\":\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4 (10000000000003)\",\"fb_install_referrer\":{\"fb_auditing_token\":\"00000000000000000000000000000000\",\"fb_install_referrer\":\"{\\\"ad_id\\\":10000000000004,\\\"ad_objective_name\\\":\\\"APP_INSTALLS\\\",\\\"adgroup_id\\\":10000000000003,\\\"adgroup_name\\\":\\\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4\\\",\\\"campaign_id\\\":10000000000001,\\\"campaign_name\\\":\\\"SampleApp_AND_US_BAU_video\\\",\\\"campaign_group_id\\\":10000000000002,\\\"campaign_group_name\\\":\\\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101\\\",\\\"account_id\\\":100000000000000,\\\"is_instagram\\\":false,\\\"is_an\\\":true,\\\"publisher_platform\\\":\\\"audience_network\\\",\\\"platform_position\\\":null}\",\"fb_install_referrer_account_id\":\"100000000000000\",\"fb_install_referrer_ad_id\":\"10000000000004\",\"fb_install_referrer_ad_objective_name\":\"APP_INSTALLS\",\"fb_install_referrer_adgroup_id\":\"10000000000003\",\"fb_install_referrer_adgroup_name\":\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4\",\"fb_install_referrer_campaign_group_id\":\"10000000000002\",\"fb_install_referrer_campaign_group_name\":\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101\",\"fb_install_referrer_campaign_id\":\"10000000000001\",\"fb_install_referrer_campaign_name\":\"SampleApp_AND_US_BAU_video\",\"fb_install_referrer_publisher_platform\":\"audience_network\"},\"engagement_time\":\"2026-01-01T12:00:00Z\",\"installed_at\":\"2026-01-01T12:05:00Z\",\"first_session_time\":\"2026-01-01T12:05:00Z\",\"is_reattributed\":false,\"is_redownload_install\":true}"
            trackerToken: "abc12345"
            fbInstallReferrer: "{\"fb_auditing_token\":\"00000000000000000000000000000000\",\"fb_install_referrer\":\"{\\\"ad_id\\\":10000000000004,\\\"ad_objective_name\\\":\\\"APP_INSTALLS\\\",\\\"adgroup_id\\\":10000000000003,\\\"adgroup_name\\\":\\\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4\\\",\\\"campaign_id\\\":10000000000001,\\\"campaign_name\\\":\\\"SampleApp_AND_US_BAU_video\\\",\\\"campaign_group_id\\\":10000000000002,\\\"campaign_group_name\\\":\\\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101\\\",\\\"account_id\\\":100000000000000,\\\"is_instagram\\\":false,\\\"is_an\\\":true,\\\"publisher_platform\\\":\\\"audience_network\\\",\\\"platform_position\\\":null}\",\"fb_install_referrer_account_id\":\"100000000000000\",\"fb_install_referrer_ad_id\":\"10000000000004\",\"fb_install_referrer_ad_objective_name\":\"APP_INSTALLS\",\"fb_install_referrer_adgroup_id\":\"10000000000003\",\"fb_install_referrer_adgroup_name\":\"SMP_0001_C0_V1_EN_VID_AI_CP1_SAMPLE_PS_3x4\",\"fb_install_referrer_campaign_group_id\":\"10000000000002\",\"fb_install_referrer_campaign_group_name\":\"SMP_AND_META_US_ACQ_CPA_TRIAL_SCALE_APP_V1_260101\",\"fb_install_referrer_campaign_id\":\"10000000000001\",\"fb_install_referrer_campaign_name\":\"SampleApp_AND_US_BAU_video\",\"fb_install_referrer_publisher_platform\":\"audience_network\"}"

    CustomEventPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - custom_event
          properties:
            name:
              type: string
              description: Any custom event name the CRM automation triggers on.
              example: cart_abandoned
            custom_event:
              type: boolean
              enum: [true]
              description: >-
                Marks a custom event. When true, the VALID_EVENTS gate and property
                validation are skipped, no analytics row is written, and the event is
                forwarded to the CRM to drive automations.
            properties:
              type: object
              additionalProperties: true
              description: Free-form; available to the CRM automation as template vars / condition operands.

    # No `discriminator` here: CustomEventPayload has an arbitrary `name`, which a name-keyed
    # discriminator can't route (and custom events discriminate on `custom_event`, not `name`).
    # Plain oneOf validation is correct — a custom event matches only CustomEventPayload.
    TrackPayload:
      oneOf:
        - $ref: '#/components/schemas/InstallPayload'
        - $ref: '#/components/schemas/PaywallPresentedPayload'
        - $ref: '#/components/schemas/PurchasePayload'
        - $ref: '#/components/schemas/TrialStartedPayload'
        - $ref: '#/components/schemas/SubscriptionStartedPayload'
        - $ref: '#/components/schemas/CustomEventPayload'

    TrackPayloadBase:
      type: object
      required:
        - name
        - deduplication_id
      properties:
        deduplication_id:
          type: string
          description: Must be formatted as `{X-Roca-ID}-{name}`
          example: 550e8400-e29b-41d4-a716-446655440000-install
        timestamp:
          type: string
          format: date-time
        device_context:
          type: object
          additionalProperties: true

    InstallPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - properties
          properties:
            name:
              type: string
              enum: [install]
            properties:
              type: object
              required:
                - install_time
              properties:
                install_time:
                  type: string
                  format: date-time

    PaywallPresentedPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
          properties:
            name:
              type: string
              enum: [paywall_presented]
            properties:
              type: object
              additionalProperties: true

    PurchasePayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - properties
          properties:
            name:
              type: string
              enum: [purchase]
            properties:
              type: object
              required:
                - original_transaction_identifier
                - price
                - currency_code
                - is_trial
              properties:
                original_transaction_identifier:
                  type: string
                  description: Apple original transaction identifier (links renewals to the first purchase)
                  example: "2000000841136630"
                price:
                  type: number
                  format: double
                  description: Actual charged price (0.0 for a free trial)
                  example: 9.99
                currency_code:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: ISO 4217 3-letter currency code
                  example: eur
                is_trial:
                  type: boolean
                  description: Whether this purchase is a free trial

    SubscriptionPropertiesBase:
      type: object
      required:
        - product_id
        - price
        - currency
        - period
      properties:
        product_id:
          type: string
          description: Store product identifier
          example: Harmony_subscription_1_year_7d
        transaction_id:
          type: string
          description: Apple originalTransactionIdentifier. Required on iOS if purchase_token is absent.
          example: "2000000841136630"
        purchase_token:
          type: string
          description: Android purchase token. Required on Android if transaction_id is absent.
        price:
          type: number
          format: double
          description: Actual charged price (0.0 for a free trial)
          example: 44.99
        currency:
          type: string
          description: ISO 4217 currency code
          example: EUR
        period:
          type: string
          enum: [day, week, month, year]
          description: Subscription billing period
          example: year

    TrialStartedPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - properties
          properties:
            name:
              type: string
              enum: [trial_started]
            properties:
              allOf:
                - $ref: '#/components/schemas/SubscriptionPropertiesBase'
                - type: object
                  required:
                    - trial_period_days
                  properties:
                    trial_period_days:
                      type: integer
                      description: Length of the free trial in days
                      example: 7
                    trial_end_date:
                      type: string
                      format: date-time
                      description: ISO 8601 UTC date when the trial expires
                      example: "2026-04-28T17:14:47.000Z"

    SubscriptionStartedPayload:
      allOf:
        - $ref: '#/components/schemas/TrackPayloadBase'
        - type: object
          required:
            - name
            - properties
          properties:
            name:
              type: string
              enum: [subscription_started]
            properties:
              $ref: '#/components/schemas/SubscriptionPropertiesBase'

    StatusResponse:
      type: object
      properties:
        application_id:
          type: string
          example: com.example.app
        events:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: install
              latest_received_at:
                type: string
                format: date-time
                nullable: true
                description: Most recent received_at across both platforms.
                example: "2026-06-09T15:01:09.181963+00:00"
              latest_received_at_android:
                type: string
                format: date-time
                nullable: true
                example: "2026-06-09T15:01:09.181963+00:00"
              latest_received_at_ios:
                type: string
                format: date-time
                nullable: true
                example: "2026-06-09T14:58:11.001200+00:00"
        identity_field_fill_percentage:
          type: object
          description: >
            Per-platform fill rate of each identity field, as a percentage of
            all `identities` rows for that platform.
          properties:
            ios:
              type: array
              items:
                $ref: '#/components/schemas/FieldFillPercentage'
            android:
              type: array
              items:
                $ref: '#/components/schemas/FieldFillPercentage'
        purchase_well_formatted_percentage:
          type: object
          description: >
            Percentage of `purchase` events per platform that carry
            price/is_trial/product_id/currency_code/original_transaction_identifier
            plus a recognized experimental payload (or superwallEvent). Null
            when there are no purchase events for that platform.
          properties:
            ios:
              type: number
              nullable: true
              example: 100
            android:
              type: number
              nullable: true
              example: 96.7
        fbclid_extraction_percentage:
          type: object
          description: >
            Percentage of identities with adjust_attribution where a fbclid
            was extracted from jsonResponse.deeplink, out of identities that
            have adjust_attribution. Null when there are none.
          properties:
            ios:
              type: number
              nullable: true
              example: 62.3
            android:
              type: number
              nullable: true
              example: null

    FieldFillPercentage:
      type: object
      properties:
        field:
          type: string
          example: user_id
        percentage:
          type: number
          nullable: true
          description: Null when there are no identities for that platform.
          example: 98.4

    SuperwallEventPayload:
      type: object
      required:
        - superwallEventInfo
      properties:
        superwallEventInfo:
          type: object
          additionalProperties: true
          description: Raw Superwall SDK event payload, stored as-is.

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
